@media only screen and (max-width: 768px) {
  .img-header {
    width: 50%;
    margin: 20px;
  }

  .banner {
    height: 350px;
  }

  .content-banner {
    .slogan-banner {
      @include UTM(normal, 30px, 37px, #11114E, -0.05em);

      span {
        -webkit-text-stroke-width: 2px;
        letter-spacing: 0;
      }

      img {
        width: 35px;
      }
    }

    .text-banner {
      @include UTM(normal, 16px, 20px, #505353, -0.05em);
    }

    .btn-start {
      @include UTM(bold, 16px, 20px, $main_font_color, -0.05em);
      -webkit-text-stroke-width: 0px;
      width: 65%;
    }
  }

  .btn-courses {
    -webkit-text-stroke-width: 0.2px;
    @include UTM(bold, 10px, 12px, $main_font_color, -0.05em);
  }

  .main-courses-detail {
    .img-courses {
      height: 40%;
    }

    .img-main-courses {
      max-width: 70%;
    }
  }

  .text-courses,
  .text-other-courses {
    b {
      -webkit-text-stroke-width: 0.5px;
      @include UTM(bold, 20px, 25px, $main_color, -0.05em);

      span {
        display: none;
      }
    }
  
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      @include UTM(bold, 14px, 18px, #505353, -0.05em);
    }
  }

  .other-courses-detail {
    .img-courses {
      height: 40%;
    }

    .img-other-courses {
      max-width: 70%;
    }
  }

  .text-allcourses {
    a {
      @include UTM(bold, 28px, 34px, #90AB26, -0.02em);
    }
  }

  .hapo-title {
    @include UTM(bold, 50px, 61px, #11114E, -0.02em)
  }

  .whyhapo {
    .img-whyhapo-left {
      margin-top: -130px;
    }
  }

  .img-whyhapo-right {
    margin-left: -50px;
    
    img {
      height: 260px;
    }
  }

  .whyhapo-left {
    .menu-whyhapo {
      @include UTM(normal, 16px, 20px, $main_font_color, -0.05em);
    }

    li {
      padding: 0.5em;
    }
  }

  .img-footer {
    width: 60%;
  }

  .text-footer {
    p {
      @include UTM(normal, 16px, 20px, $main_font_color, -0.05em);
    }
  }

  .menu-footer {
    a {
      @include UTM(bold, 18px, 22px, $main_font_color, -0.05em);
      text-decoration: none;

      &:hover {
        color: $main_font_color;
        text-decoration: underline;
      }
    }
  }

  .contact-footer {
    a {
      width: 40px;
      height: 40px;
      margin:0 15px;
      font-size: 20px;
    }

    span {
      @include UTM(normal, 12px, 10px, $main_font_color, -0.05em);
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 426px) {
  .img-header {
    width: 40%;
    margin: 0;
    transform: translateY(-100%);
  }

  .menu-header {
    a {
      text-align: center;
      
      &:hover {
        color: $main_color;
        background-color: #FFFFFF;
      }
    }
  }

  .banner {
    height: 200px;
    background-position: right;
    justify-content: center;
  }

  .content-banner {
    transform: translateY(100%);
    display: flex;
    flex-direction: column;

    .slogan-banner {
      margin-top: 1em;
      @include UTM(normal, 25px, 31px, #11114E, -0.05em);

      img {
        width: 30px;
      }
    }

    .btn-start {
      width: 95%;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
    }
  }

  .blank-banner {
    height: 310px;
  }

  .btn-courses {
    @include UTM(bold, 18px, 22px, $main_font_color, -0.05em);
    width: 80%;
  }

  .main-courses {
    margin-top: 2em;
    .main-courses-content {
      display: flex;
      justify-content: center;
    }
  }

  .main-courses-detail {
    .img-main-courses {
      height: 95px;
      margin: 2em;
    }
  }

  .text-courses {
    b {
      margin: 0.5em;
      span {
        display: inline;
      }
    }

    p {
      padding: 0.5em;
    }

    a {
      margin-bottom: 1em;
    }
  }

  .other-courses {
    .other-courses-content {
      display: flex;
      justify-content: center;
    }
  }

  .other-courses-detail {
    margin-bottom: 8em;

    .img-courses {
      height: 55%;
    }

    .right-element {
      height: 45%;
    }
  }

  .text-other-courses {
    padding: 1em;
    
    b {
      margin-bottom: 0.5em;
    }
  }
  
  .hapo-title {
    @include UTM(bold, 40px, 49px, #11114E, -0.02em)
  }

  .whyhapo {
    .whyhapo-title {
      margin-top: 1em;
      @include UTM(bold, 40px, 40px, $main_font_color, -0.02em);
    }
  }

  .whyhapo-left {
    .menu-whyhapo {
      @include UTM(normal, 14px, 17px, $main_font_color, -0.05em);
    }

    li {
      padding: 0.2em;
    }
  }

  .img-whyhapo-right {
    margin-left: 0;
  }

  .text-footer {
    order: 3;
    margin-top: 30px;
    p {
      @include UTM(normal, 14px, 17px, $main_font_color, -0.05em);
    }
  }

  .contact {
    order: 4;
  }

  .menu-footer {
    margin-left: 40px;
  }

  .contact-footer {
    a {
      width: 30px;
      height: 30px;
      margin:0 5px;
      font-size: 16px;
    }

    span {
      @include UTM(normal, 10px, 10px, $main_font_color, -0.05em);
      margin-top: 10px;
      width: 50px;
    }
  }
}
