@import 'variable';
@font-face {
  font-family: "UTM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UTMBryantLG.ttf");
}

@font-face {
  font-family: "UTM_B";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/UTMBryantLG_B.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "UTM";
}

.img-header {
  height: 70px;
}

.nav-menu {
  li {
    margin: 10px;
  }
  a {
    text-transform: uppercase;
    color: #505353;
    @include OpenSans(bold,
    14px);
    border-radius: 17px;
    &:hover {
      background-color: $maincolor;
      color: $mainfontcolor;
    }
  }
}

@import 'responsive';
